$container-color: #ecf0f1;
$box-color: #3498db;
$footer-color: #16a085;
$text-color: #2e373f;

@import "bootstrap-4.4.1/scss/bootstrap";
@import "bootstrap-4.4.1/scss/bootstrap-grid";
@import "bootstrap-4.4.1/scss/bootstrap-reboot";

html, body {
  height: 100%;
}

h1, small {
  color: white;
}

header {

  i.fab {
    width: 30px;
    height: 30px;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 0.4rem;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url(../images/menu.svg);
    }
}

@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}

main {
  min-height: calc(100% - 100px);

  .jumbotron {
    margin-bottom: 0;
  }

  .jumbotron .container-fluid .display-3 {
    color: $text-color;
    font-size: 3em;
  }

  .container-fluid {
    height: 100%;
    background-color: $container-color;
    & .row > div {
      background-color: darken($box-color, 20%);
      border: 1px solid white;
      height: 250px;
    }
  }
}

footer {
  background: $footer-color;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
